<!DOCTYPE html>
<html>

<head>
    <title>129小游戏</title>
    {% comment %} <link rel="stylesheet" type="text/css" href="liveserver-sources/bootstrap.min.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" type="text/css" href="liveserver-sources/index.css"> {% endcomment %}
    <!-- 由于liveserver的特性，我没法使用static文件夹里的文件进行调试，开启Django后用下文的链接 -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>

<body>
    <div class="picture center">
        <div class="left">
            <input type="file" name="originpic" class="picture" id="originpic">
            <!-- 上传文件 -->
            <img src="" id="img_origin" height="200px" width="200px">
            <!-- 显示原图 -->
        </div>
    </div>
    <div align="center">
        <img src="" id="img_new" height="800px" width="800px">
        <!-- 显示新图 -->
    </div>
    <div>
        <img id="widget1" src="/static/texture/cloth.png">
        <img id="widget2" src="/static/texture/face.png">
        <img id="widget3" src="/static/texture/face.png">
        <img id="widget4" src="/static/texture/cap.png">
        <img id="widget5" src="/static/texture/lip.png">
        <img id="widget6" src="/static/texture/eyebrow_l.png">
        <img id="widget7" src="/static/texture/eyebrow_r.png">
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
{% comment %} <script type="text/javascript" src="liveserver-sources/index.js"></script> {% endcomment %}
<script type="text/javascript" src="/static/js/index.js"></script>
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<script>
    $('#widget1').draggable();
    $('#widget2').draggable();
    $('#widget3').draggable();
    $('#widget4').draggable();
    $('#widget5').draggable();
    $('#widget6').draggable();
    $('#widget7').draggable();
</script>
</html>