<!DOCTYPE html>
<html>

<head>
    <title>129小游戏</title>
    <link rel="stylesheet" type="text/css" href="liveserver-sources/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="liveserver-sources/index.css">
    <!-- 由于liveserver的特性，我没法使用static文件夹里的文件进行调试，开启Django后用下文的链接 -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/index.css">  -->
</head>

<body>
    <div class="picture center">
        <div class="left">
            <input type="file" name="originpic" class="picture" id="originpic">
            <!-- 上传文件 -->
            <img src="" id="img_origin">
            <!-- 显示原图 -->
            <img src="" id="img_new">
            <!-- 显示新图 -->
        </div>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="liveserver-sources/index.js"></script>
<!-- <script type="text/javascript" src="/js/index.js"></script> -->

</html>