body
{
	background: #dfe6e9;
	display: block;
}

.div
{

}

.picture
{
}

label {
	opacity: 1;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: red;
}

.picture:focus + label,
.picture + label:hover {
    background-color: red;
}

.center
{
	display: flex;
	justify-content: center;
	border-left: 20%;
	border-right: 20%;
	border-top: 40%;
}

@media screen and (max-width: 1600px) {
	body {
		background: #dfe6e9;
		display: block;
	}

	.crop, #cro {
		width: 100%;
	}

	.file {
		padding: 4px 10px;
		height: 50px;
		width: 120px;
		line-height: 40px;
		font-size: 20px;
		text-align: center;
		position: relative;
		cursor: pointer;
		color: #888;
		background: #fafafa;
		border: 1px solid #ddd;
		border-radius: 4px;
		overflow: hidden;
		zoom: 1
	}

	.btn {
		font-size:16px;
		font-family:Courier New;
		font-weight:normal;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
		border-radius:8px;
		border:1px solid #dcdcdc;
		padding:9px 18px;
		padding-top: 10px;
		text-decoration:none;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(95%, #ededed), color-stop(10%, #dfdfdf) );
		background:-moz-linear-gradient( center top, #ededed 95%, #dfdfdf 10% );
		background:-ms-linear-gradient( top, #ededed 95%, #dfdfdf 10% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
		background-color:#ededed;
		color:#777777;
		display:inline-block;
		text-shadow:1px 1px 17px #ffffff;
		-webkit-box-shadow:inset 1px 1px 29px -10px #ffffff;
		-moz-box-shadow:inset 1px 1px 29px -10px #ffffff;
		box-shadow:inset 1px 1px 29px -10px #ffffff;
	}
	.btn:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(95%, #dfdfdf), color-stop(10%, #ededed) );
		background:-moz-linear-gradient( center top, #dfdfdf 95%, #ededed 10% );
		background:-ms-linear-gradient( top, #dfdfdf 95%, #ededed 10% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
		background-color:#dfdfdf;
	}
	.btn:active {
		position:relative;
		top:1px;
	}
	
	.file  input {
		position: absolute;
		font-size: 100px;
		right: 0;
		top: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		cursor: pointer
	}
	
	.file:hover {
		color: #444;
		background: #eee;
		border-color: #ccc;
		text-decoration: none
	}

	#originpic {
		display: inline;
	}
}